<h1>Contact Created</h1>

<h1>First Name: <%= @contact.first_name %></h1>
<h1>Last Name: <%= @contact.last_name %></h1>
<h1>Email: <%= @contact.email %></h1>
<h1>Phone Number: <%= @contact.phone_number %></h1>

<a href="/all_contacts_url">All Contacts</a>