<% if current_user %>
  <% user_contacts = @contacts.where(user_id: current_user.id) %>

  <% user_contacts.each do |contact| %>

    <h2>Name: <a href="/contacts/<%= contact.id %>"><%= contact.full_name %></a></h2>
    <h2>Email: <%= contact.email %></h2>
    <h2>Phone Number: <%= contact.phone_number %></h2>

  <p>--------------------------------------------------------</p>

  <% end %>
<% end %>